[mysqld]
# Identidad del servidor (cambia si convives con otros MySQL)
server-id = 1


# Binlogs (requeridos por Debezium)
log_bin = mysql-bin
binlog_format = ROW
binlog_row_image = FULL
binlog_expire_logs_seconds = 604800 # 7 días


# GTID recomendado para CDC estable
gtid_mode = ON
enforce_gtid_consistency = ON


# Ajustes generales
skip_name_resolve = ON
character-set-server = utf8mb4
collation-server = utf8mb4_0900_ai_ci


# Durabilidad
innodb_flush_log_at_trx_commit = 1
sync_binlog = 1


# Seguridad por defecto
sql_require_primary_key = ON