AWS_ACCESS_KEY_ID=REEMPLAZAR_ACCESS_KEY
AWS_SECRET_ACCESS_KEY=REEMPLAZAR_SECRET_KEY
AWS_DEFAULT_REGION=us-east-1
AWS_ACCOUNT_ID=696586750741
LAKEHOUSE_BUCKET=lakehouse-demo-reemplazar
LAKEHOUSE_WAREHOUSE=s3://lakehouse-demo-reemplazar/lakehouse
ATHENA_OUTPUT=s3://lakehouse-demo-reemplazar/athena-results/
GLUE_CRAWLER_ROLE_ARN=arn:aws:iam::696586750741:role/REEMPLAZAR_GLUE_CRAWLER_ROLE
SPARK_REMOTE_URL=sc://host.docker.internal:15002
PROJECT_ENV=dev
